.navbar{
    position: fixed;
    top: 0;
    background-color: transparent;
    width: 100%;
    height:80px;
    padding: 5px;
    font-size: 1.5em;
    z-index: 1;

    


    &__logo{
        height: 80px;
        width: 80px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        

        img{
            height: 75%;
            

        }
    }
    
}

.scrolling{
    background-color: rgba(0, 0, 0, 0.931);
    transition: all 0.5s ease

}





